<!DOCTYPE html>
{% load static %}

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.formstyler.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.rateyo.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.formstyler.theme.css' %}">
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    <header class="header">
        <div class="header__top">
          <div class="container">
            <div class="header__top-inner">
                <nav class="menu">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="" class="menu__link" href="#">Магазины</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link" href="#">Акции</a>
                        </li>
                        <li class="menu__item">
                            <a href="" class="menu__link" href="#">Доставка и оплата</a>
                        </li>
                    </ul>
                </nav>
                <a href="#" class="logo">
                    <img src="{% static 'img/logo.svg' %}" alt="" class="logo__img">
                </a>
                <div class="header__box">
                    <p class="header__adress">
                        Москва, ул. Науки 25
                    </p>
                    <ul class="user-list">
                        <li class="user-list__item">
                            <a href="#" class="user-list__link"><img src="img/heart-icon.svg" alt=""></a>
                        </li>
                        <li class="user-list__item">
                            <a href="#" class="user-list__link"><img src="img/profile.svg" alt=""></a>
                        </li>
                        <li class="user-list__item">
                            <a href="#" class="user-list__link cart">
                                <img src="img/cart.svg" alt="">
                                <p class="cart__num">1</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
          </div>      
        </div>
        <div class="header__bottom">
            <div class="container">
                <div class="header__bottom-inner">
                    <ul class="menu-categories">
                        <li class="menu-categories__item">
                            <a href="#" class="menu-categories__link">Квадроциклы</a>
                        </li>
                        <li class="menu-categories__item">
                            <a href="#" class="menu-categories__link">Катера</a>
                        </li>
                        <li class="menu-categories__item">
                            <a href="#" class="menu-categories__link">Гидроциклы</a>
                        </li>
                        <li class="menu-categories__item">
                            <a href="#" class="menu-categories__link">Лодки</a>
                        </li>
                        <li class="menu-categories__item">
                            <a href="#" class="menu-categories__link">Вездеходы</a>
                        </li>
                        <li class="menu-categories__item">
                            <a href="#" class="menu-categories__link">Снегоходы</a>
                        </li>
                        <li class="menu-categories__item">
                            <a href="#" class="menu-categories__link">Двигатели</a>
                        </li>
                        <li class="menu-categories__item">
                            <a href="#" class="menu-categories__link">Запчасти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    {% block content %}


    {% endblock content %}
    <footer class="footer">
        <div class="container">
            <div class="footer__top">
                <div class="footer__top-inner">
                    <div class="footer__top-item">
                        <h6 class="footer__top-title"> Подпишитесь на нашу рассылку и узнайте о акциях быстрее </h6>
                        <form action="" class="footer-form">
                            <input class="footer-form__input" type="text" placeholder="Введите ваш e-mail:">
                            <button type="submit">Отправить</button>
                        </form>
                    </div>
                    <div class="footer__top-item">
                        <h6 class="footer__top-title"></h6>
                    </div>
                    <div class="footer__top-item">
                        <h6 class="footer__top-title"></h6>
                    </div>
                    <div class="footer__top-item">
                        <h6 class="footer__top-title"></h6>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <a href="" class="footer__bottom-link">Договор оферты</a>
                <a href="" class="footer__bottom-link">Политика обработки персональных данных</a>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/ion.rangeSlider.min.js' %}"></script>
    <script src="{% static 'js/jquery.formstyler.min.js' %}"></script>
    <script src="{% static 'js/jquery.rateyo.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>